Pyrogram
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
telegraph==1.4.1
googletrans==3.1.0a0
gTTS
asyncio==3.4.3
aiohttp==3.7.4
aiofiles
requests
pyshorteners
bs4
git+https://github.com/Joelkb/cinemagoer
youtube-search-python==1.4.6
youtube_search
youtube-dl
yt-dlp
wget
python-arq
ffmpeg-python
requests
ytthumb
